<h1><%= @listing.title %></h1>
<p><%= link_to "Edit listing", edit_listing_path(@listing.id), method: :get if @listing.user.id == current_user.id %></p>
<p><%= link_to "Back to main listing", listings_path, method: :get %></p>
<%= image_tag @listing.cover.url %>


<h2>Room photos</h2>
<% @listing.images.each do |image| %>
<%= image_tag image.url %>
<% end %>

<h2>Make a reservation</h2>

<%= form_for @reservation do |f| %>

	<%= f.hidden_field :listing_id, value: @listing.id %>

	<%= f.label :From %>
	<%= f.text_field :start_date %>

	<%= f.label :To %>
	<%= f.text_field :end_date %>

	<%= submit_tag("Reserve") %>
<% end %>

<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

<script type='text/javascript'>
	$(document).ready(function(){


		var reserved = <%= raw find_all_reservations(@listing.id).to_json %>;

		$('#reservation_start_date').datepicker({
			autoclose: true,
			todayHighlight: true,
			dateFormat: 'dd/mm/yy',
			beforeShowDay: function(date){
				var string = jQuery.datepicker.formatDate('yy-mm-dd', date);
				return [ reserved.indexOf(string) == -1 ];
			}
		});

		$('#reservation_end_date').datepicker({
			autoclose: true,
			dateFormat: 'dd/mm/yy',
			beforeShowDay: function(date){
				var string = jQuery.datepicker.formatDate('yy-mm-dd', date);
				return [ reserved.indexOf(string) == -1 ];
			}
		});
	})
</script>